In [2]:
import pyspark
from pyspark.sql import SparkSession

from pyspark.sql.functions import year, col, to_date

from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans
from pyspark.ml.feature import Imputer

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('Motor Vehicle Collisions Analysis') \
    .getOrCreate()

In [4]:
data_path = 'Motor_Vehicle_Collisions_-_Crashes.csv'
df = spark.read.csv(data_path, header=True, inferSchema=True)
df.printSchema()

root
 |-- CRASH DATE: string (nullable = true)
 |-- CRASH TIME: string (nullable = true)
 |-- BOROUGH: string (nullable = true)
 |-- ZIP CODE: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- ON STREET NAME: string (nullable = true)
 |-- CROSS STREET NAME: string (nullable = true)
 |-- OFF STREET NAME: string (nullable = true)
 |-- NUMBER OF PERSONS INJURED: string (nullable = true)
 |-- NUMBER OF PERSONS KILLED: integer (nullable = true)
 |-- NUMBER OF PEDESTRIANS INJURED: integer (nullable = true)
 |-- NUMBER OF PEDESTRIANS KILLED: integer (nullable = true)
 |-- NUMBER OF CYCLIST INJURED: integer (nullable = true)
 |-- NUMBER OF CYCLIST KILLED: string (nullable = true)
 |-- NUMBER OF MOTORIST INJURED: string (nullable = true)
 |-- NUMBER OF MOTORIST KILLED: integer (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 1: string (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 2: string (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 3: string (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 4: string (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 5: string (nullable = true)
 |-- COLLISION_ID: integer (nullable = true)
 |-- VEHICLE TYPE CODE 1: string (nullable = true)
 |-- VEHICLE TYPE CODE 2: string (nullable = true)
 |-- VEHICLE TYPE CODE 3: string (nullable = true)
 |-- VEHICLE TYPE CODE 4: string (nullable = true)
 |-- VEHICLE TYPE CODE 5: string (nullable = true)

In [5]:
# Menampilkan semua kolom
df.select("*").show()

+----------+----------+---------+--------+---------+----------+--------------------+--------------------+--------------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+-------------------+-------------------+-------------------+
|CRASH DATE|CRASH TIME|  BOROUGH|ZIP CODE| LATITUDE| LONGITUDE|            LOCATION|      ON STREET NAME|   CROSS STREET NAME|     OFF STREET NAME|NUMBER OF PERSONS INJURED|NUMBER OF PERSONS KILLED|NUMBER OF PEDESTRIANS INJURED|NUMBER OF PEDESTRIANS KILLED|NUMBER OF CYCLIST INJURED|NUMBER OF CYCLIST KILLED|NUMBER OF MOTORIST INJURED|NUMBER OF MOTORIST KILLED|CONTRIBUTING FACTOR VEHICLE 1|CONTRIBUTING FACTOR VEHICLE 2|CONTRIBUTING FACTOR VEHICLE 3|CONTRIBUTING FACTOR VEHICLE 4|CONTRIBUTING FACTOR VEHICLE 5|COLLISION_ID| VEHICLE TYPE CODE 1| VEHICLE TYPE CODE 2|VEHICLE TYPE CODE 3|VEHICLE TYPE CODE 4|VEHICLE TYPE CODE 5|
+----------+----------+---------+--------+---------+----------+--------------------+--------------------+--------------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+-------------------+-------------------+-------------------+
|09/11/2021|      2:39|     NULL|    NULL|     NULL|      NULL|                NULL|WHITESTONE EXPRES...|           20 AVENUE|                NULL|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|         Aggressive Drivin...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4455765|               Sedan|               Sedan|               NULL|               NULL|               NULL|
|03/26/2022|     11:45|     NULL|    NULL|     NULL|      NULL|                NULL|QUEENSBORO BRIDGE...|                NULL|                NULL|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|            Pavement Slippery|                         NULL|                         NULL|                         NULL|                         NULL|     4513547|               Sedan|                NULL|               NULL|               NULL|               NULL|
|06/29/2022|      6:55|     NULL|    NULL|     NULL|      NULL|                NULL|  THROGS NECK BRIDGE|                NULL|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Following Too Clo...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4541903|               Sedan|       Pick-up Truck|               NULL|               NULL|               NULL|
|09/11/2021|      9:35| BROOKLYN|   11208|40.667202|  -73.8665|(40.667202, -73.8...|                NULL|                NULL|1211      LORING ...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                         NULL|                         NULL|                         NULL|                         NULL|     4456314|               Sedan|                NULL|               NULL|               NULL|               NULL|
|12/14/2021|      8:13| BROOKLYN|   11233|40.683304|-73.917274|(40.683304, -73.9...|     SARATOGA AVENUE|      DECATUR STREET|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                         NULL|                         NULL|                         NULL|                         NULL|                         NULL|     4486609|                NULL|                NULL|               NULL|               NULL|               NULL|
|04/14/2021|     12:47|     NULL|    NULL|     NULL|      NULL|                NULL|MAJOR DEEGAN EXPR...|                NULL|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|     4407458|                Dump|               Sedan|               NULL|               NULL|               NULL|
|12/14/2021|     17:05|     NULL|    NULL|40.709183|-73.956825|(40.709183, -73.9...|BROOKLYN QUEENS E...|                NULL|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486555|               Sedan|Tractor Truck Diesel|               NULL|               NULL|               NULL|
|12/14/2021|      8:17|    BRONX|   10475| 40.86816| -73.83148|(40.86816, -73.83...|                NULL|                NULL|344       BAYCHES...|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486660|               Sedan|               Sedan|               NULL|               NULL|               NULL|
|12/14/2021|     21:10| BROOKLYN|   11207| 40.67172|  -73.8971|(40.67172, -73.8971)|                NULL|                NULL|2047      PITKIN ...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|     4487074|               Sedan|                NULL|               NULL|               NULL|               NULL|
|12/14/2021|     14:58|MANHATTAN|   10017| 40.75144| -73.97397|(40.75144, -73.97...|            3 AVENUE|      EAST 43 STREET|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486519|               Sedan|Station Wagon/Spo...|               NULL|               NULL|               NULL|
|12/13/2021|      0:34|     NULL|    NULL|40.701275| -73.88887|(40.701275, -73.8...|       MYRTLE AVENUE|                NULL|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Passing or Lane U...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486934|Station Wagon/Spo...|                NULL|               NULL|               NULL|               NULL|
|12/14/2021|     16:50|   QUEENS|   11413|40.675884| -73.75577|(40.675884, -73.7...|SPRINGFIELD BOULE...|     EAST GATE PLAZA|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|           Turning Improperly|                  Unspecified|                         NULL|                         NULL|                         NULL|     4487127|               Sedan|Station Wagon/Spo...|               NULL|               NULL|               NULL|
|12/14/2021|      8:30|     NULL|    NULL|     NULL|      NULL|                NULL|            broadway|west 80 street -w...|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Unsafe Lane Changing|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486634|Station Wagon/Spo...|               Sedan|               NULL|               NULL|               NULL|
|12/14/2021|      0:59|     NULL|    NULL| 40.59662| -74.00231|(40.59662, -74.00...|        BELT PARKWAY|                NULL|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                 Unsafe Speed|                         NULL|                         NULL|                         NULL|                         NULL|     4486564|               Sedan|                NULL|               NULL|               NULL|               NULL|
|12/14/2021|     23:10|   QUEENS|   11434| 40.66684| -73.78941|(40.66684, -73.78...|NORTH CONDUIT AVENUE|          150 STREET|                NULL|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|         Reaction to Uninv...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486635|               Sedan|               Sedan|               NULL|               NULL|               NULL|
|12/14/2021|     17:58| BROOKLYN|   11217| 40.68158| -73.97463|(40.68158, -73.97...|                NULL|                NULL|480       DEAN ST...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486604|              Tanker|Station Wagon/Spo...|               NULL|               NULL|               NULL|
|12/14/2021|     20:03| BROOKLYN|   11226| 40.65068| -73.95881|(40.65068, -73.95...|                NULL|                NULL|878       FLATBUS...|                        4|                       0|                            0|                           0|                        0|                       0|                         4|                        0|             Steering Failure|                         NULL|                         NULL|                         NULL|                         NULL|     4486991|               Sedan|                NULL|               NULL|               NULL|               NULL|
|12/14/2021|      1:28|     NULL|    NULL|     NULL|      NULL|                NULL|       MEEKER AVENUE|      LORIMER STREET|                NULL|                        3|                       0|                            0|                           0|                        0|                       0|                         3|                        0|         Traffic Control D...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486284|Station Wagon/Spo...|Station Wagon/Spo...|               NULL|               NULL|               NULL|
|12/11/2021|     19:43|    BRONX|   10463| 40.87262|-73.904686|(40.87262, -73.90...|WEST KINGSBRIDGE ...|        HEATH AVENUE|                NULL|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|     4487040|Station Wagon/Spo...|               Sedan|               NULL|               NULL|               NULL|
|12/14/2021|     14:30|     NULL|    NULL|40.783268| -73.82485|(40.783268, -73.8...|WHITESTONE EXPRES...|                NULL|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Following Too Clo...|                  Unspecified|                  Unspecified|                         NULL|                         NULL|     4486537|Station Wagon/Spo...|               Sedan|              Sedan|               NULL|               NULL|
+----------+----------+---------+--------+---------+----------+--------------------+--------------------+--------------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+-------------------+-------------------+-------------------+
only showing top 20 rows

In [6]:
for column in df.columns:
    unique_count = df.select(column).distinct().count()
    print(f"{column}: {unique_count} unique values")

CRASH DATE: 4341 unique values
CRASH TIME: 1441 unique values
BOROUGH: 7 unique values
ZIP CODE: 237 unique values
LATITUDE: 126786 unique values
LONGITUDE: 98476 unique values
LOCATION: 285153 unique values
ON STREET NAME: 18480 unique values
CROSS STREET NAME: 20267 unique values
OFF STREET NAME: 228344 unique values
NUMBER OF PERSONS INJURED: 34 unique values
NUMBER OF PERSONS KILLED: 8 unique values
NUMBER OF PEDESTRIANS INJURED: 15 unique values
NUMBER OF PEDESTRIANS KILLED: 5 unique values
NUMBER OF CYCLIST INJURED: 7 unique values
NUMBER OF CYCLIST KILLED: 5 unique values
NUMBER OF MOTORIST INJURED: 33 unique values
NUMBER OF MOTORIST KILLED: 7 unique values
CONTRIBUTING FACTOR VEHICLE 1: 62 unique values
CONTRIBUTING FACTOR VEHICLE 2: 62 unique values
CONTRIBUTING FACTOR VEHICLE 3: 52 unique values
CONTRIBUTING FACTOR VEHICLE 4: 42 unique values
CONTRIBUTING FACTOR VEHICLE 5: 31 unique values
COLLISION_ID: 2089381 unique values
VEHICLE TYPE CODE 1: 1658 unique values
VEHICLE TYPE CODE 2: 1846 unique values
VEHICLE TYPE CODE 3: 267 unique values
VEHICLE TYPE CODE 4: 104 unique values
VEHICLE TYPE CODE 5: 72 unique values

In [8]:
# Mengonversi kolom 'CRASH DATE' menjadi tipe Date dengan format yang sesuai
df = df.withColumn("CRASH DATE", to_date(col("CRASH DATE"), "dd/MM/yyyy"))

# Menambahkan kolom tahun dengan menggunakan fungsi year
df = df.withColumn("YEAR", year(col("CRASH DATE")))

In [9]:
selected_columns = ['YEAR','COLLISION_ID', 'BOROUGH','NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1']
df_selected = df.select(selected_columns)
df_selected.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- COLLISION_ID: integer (nullable = true)
 |-- BOROUGH: string (nullable = true)
 |-- NUMBER OF PERSONS INJURED: string (nullable = true)
 |-- NUMBER OF PERSONS KILLED: integer (nullable = true)
 |-- NUMBER OF PEDESTRIANS INJURED: integer (nullable = true)
 |-- NUMBER OF PEDESTRIANS KILLED: integer (nullable = true)
 |-- NUMBER OF CYCLIST INJURED: integer (nullable = true)
 |-- NUMBER OF CYCLIST KILLED: string (nullable = true)
 |-- NUMBER OF MOTORIST INJURED: string (nullable = true)
 |-- NUMBER OF MOTORIST KILLED: integer (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 1: string (nullable = true)

In [10]:
# Summing up the injury and fatality related columns
df_aggregated = df_selected.withColumn('Total Injured', 
                              col('NUMBER OF PERSONS INJURED') + 
                              col('NUMBER OF PEDESTRIANS INJURED') + 
                              col('NUMBER OF CYCLIST INJURED') + 
                              col('NUMBER OF MOTORIST INJURED')) \
                  .withColumn('Total Killed', 
                              col('NUMBER OF PERSONS KILLED') + 
                              col('NUMBER OF PEDESTRIANS KILLED') + 
                              col('NUMBER OF CYCLIST KILLED') + 
                              col('NUMBER OF MOTORIST KILLED'))

In [11]:
selected_columns = ['YEAR','COLLISION_ID', 'BOROUGH', 'Total Killed', 'Total Injured','CONTRIBUTING FACTOR VEHICLE 1']
df = df_aggregated.select(selected_columns)
df.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- COLLISION_ID: integer (nullable = true)
 |-- BOROUGH: string (nullable = true)
 |-- Total Killed: double (nullable = true)
 |-- Total Injured: double (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 1: string (nullable = true)

In [12]:
# Handle null values
imputer = Imputer(inputCols=["Total Killed", "Total Injured"], 
                  outputCols=["Total Killed", "Total Injured"])
df = imputer.fit(df).transform(df)

In [13]:
# Assemble features
vecAssembler = VectorAssembler(inputCols=["Total Killed", "Total Injured"], outputCol="features")
df_kmeans = vecAssembler.transform(df)

In [14]:
# KMeans model with 3 clusters
kmeans = KMeans().setK(3).setSeed(1)
model = kmeans.fit(df_kmeans)

In [15]:
# Predictions
predictions = model.transform(df_kmeans)

In [16]:
output = predictions.toPandas()

In [17]:
output.head()

,YEAR,COLLISION_ID,BOROUGH,Total Killed,Total Injured,CONTRIBUTING FACTOR VEHICLE 1,features,prediction
0,2021.0,4455765.0,None,0.0,4.0,Aggressive Driving/Road Rage,"[0.0, 4.0]",1
1,NaN,4513547.0,None,0.0,2.0,Pavement Slippery,"[0.0, 2.0]",1
2,NaN,4541903.0,None,0.0,0.0,Following Too Closely,"(0.0, 0.0)",0
3,2021.0,4456314.0,BROOKLYN,0.0,0.0,Unspecified,"(0.0, 0.0)",0
4,NaN,4486609.0,BROOKLYN,0.0,0.0,None,"(0.0, 0.0)",0

In [ ]:
plt.figure(figsize=(10, 6))
sns.barplot(x="YEAR", y="count", hue="prediction", data=df_pandas)
plt.title('Total Accident Categories per Year')
plt.xlabel('Year')
plt.ylabel('Total Accidents')
plt.legend(title='Category', labels=['Light', 'Moderate', 'Severe'])
plt.show()

NameError: name 'plt' is not defined